Flask==3.1.5               # Backend API
flask-cors==6.0.2          # Enable CORS for frontend
scikit-learn==1.7.2        # ML model (TfidfVectorizer + MultinomialNB)
numpy==2.2.6               # Required by scikit-learn
nltk==3.9.2                # Optional: text processing (if future NLP use)
joblib==1.5.3              # Model serialization (optional if needed)
python-dotenv==1.2.1
gunicorn       # Load environment variables (optional)